@font-face {
    font-family: CaviarDreams;
    src: url("/assets/CaviarDreams.ttf");
}

body {
    margin: 20px;
    padding-top: 2.5em;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    width: calc(100vw - 40px);
    min-height: calc(100vh - 40px);
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: CaviarDreams;
}

* {
    box-sizing: border-box;
}

input {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

button {
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5em;
    color: white;

    &:active {
        background-color: rgb(25, 25, 25);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5em;
    background-color: rgb(25,25,25);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    z-index: 5;

    a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
    }

    img {
        height: 100%;
    }
}

.center {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1em;
    column-gap: 0.5em;
    margin: 2em;
    text-align: initial;
}

h1 {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

.game-new {
    margin: 2em;
}