<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini jeux</title>
    {{block "meta"}}

    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    {{{block "scripts"}}}

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {{{body}}}
</body>

</html>