{{#contentFor "scripts"}}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/batonnets.js" defer=""></script>
{{/contentFor}}
{{#contentFor "meta"}}
<meta property="og:title" content="Jeu des batonnets" />
<meta property="og:site_name" content="etiennemr.fr" />
<meta property="og:type" content="game" />
<meta property="og:description" content="Rejoins moi sur le jeu des batonnets" />
{{/contentFor}}

<form id="new" class="batonnets-new">
    <h3>Nouvelle partie</h3>
    <div class="battonets-rules">
        <label for="new-total">Nombre de batonnets au départ</label>
        <input id="new-total" type="number" value="21" required="" min="2">
        <label for="new-maxrm">Nombre de batonnets enlevables par tour</label>
        <input id="new-maxrm" type="number" value="3" required="" min="1">
    </div>
    <button id="new-start">Créer</button>
</form>
<div class="battonets-rules" id="rules">
    <div><b>Règles</b></div><div><b id="rules-presset">...</b></div>
    <div>Nombre de batonnets au départ</div><div id="rules-total">...</div>
    <div>Nombre de batonnets enlevables par tour</div><div id="rules-maxrm">...</div>
</div>
<span id="remaning"></span>
<div class="batonnets-list" id="list"></div>
<h3 id="turn">Tour de l'adversaire</h3>
<p class="selector" id="day-selector">
    <i class="bx bx-chevron-left" id="count-down"></i>
    <span class="batonnets-value" id="count">1</span>
    <i class="bx bx-chevron-right" id="count-up"></i>
</p>
<button class="batonnets-button" id="valid">Valider</button>