{{#contentFor "meta"}}
<meta property="og:title" content="Mini jeux" />
<meta property="og:site_name" content="etiennemr.fr" />
<meta property="og:type" content="game" />
<meta property="og:description" content="Tu veux défier un ami ? Ou simplement t'amuser ?" />
{{/contentFor}}

<div class="cards">
    {{#each games }}
    <div>
        <h3>{{this.title}}</h3>
        <img src="/assets/img/{{this.id}}.png">
        <hr>
        <p>{{this.desc}}</p>
        <hr>
        <a class="play-btn" title="Jouer" href="/{{this.id}}">
            <i class="bx bx-play"></i>
        </a>
    </div>
    {{/each}}
</div>