{{#contentFor "scripts"}}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/assets/js/main.js{{cache_ver}}"></script>
<script src="/assets/js/puissance4.js{{cache_ver}}" defer=""></script>
{{/contentFor}}
{{#contentFor "meta"}}
<meta property="og:title" content="Puissance 4" />
<meta property="og:site_name" content="etiennemr.fr" />
<meta property="og:type" content="game" />
<meta property="og:description" content="Viens jouer au puissance 4" />
{{/contentFor}}

<h1 id="title">??? vs ???</h1>
<table class="puissance4-grid"></table>