{{#contentFor "scripts"}}
<script src="/tactical_domination/shared.js{{cache_ver}}"></script>
<script src="https://pixijs.download/release/pixi.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
{{/contentFor}}
{{#contentFor "meta"}}
<meta property="og:title" content="Tactical Domination" />
<meta property="og:site_name" content="etiennemr.fr" />
<meta property="og:type" content="game" />
<meta property="og:description" content="Viens jouer à Tactical Domination !" />
{{/contentFor}}

<h1 id="title">??? vs ???</h1>
<span id="remaning"></span>
<div class="stats">
    <span>
        <img src="/tactical_domination/icons/wheat.png">
        <span id="wheat">0</span>
    </span>
    <span>
        <img src="/tactical_domination/icons/gold.png">
        <span id="gold">0</span>
    </span>
</div>
<canvas id="app"></canvas>
<p id="config"><button id="config-start">Valider</button><button id="config-regen">Nouvelle carte</button></p>
<h3 id="turn">...</h3>
<p id="end-turn"><button>Finir le tour</button></p>
<button id="replay">Rejouer 0/2</button>